*{
  padding: 0%;
  margin: 0%;
}

body {
  background-color: RGB(165, 0, 0);
}

.main_window {
  margin-left: 10%;
  background-color: RGB(255, 255, 255);
  width: 80%;
  top: 50%;
  height: auto;
  align-self: center;
  overflow: hidden;
  overflow-x: hidden
}

.main_k {
  position: relative;
  top: 50px;
  display: flex;
}

.header {
  position: relative;
  height: 7.47vw;                 /*100px;*/
}

.header_text {
  position: absolute;          /*relative;*/
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 2.0vw;
  left: 10%;
  height: 5.2vw;
  width: 80%;
  font-size: 3vw;
  color: black; /*white;*/
  background-color: RGB(255, 254, 245); /*RGB(165, 0, 0); */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, Sans-Serif;
  border: 0.1em solid RGB(231, 184, 28);
}

.header_logo_left {
  position: absolute;	
  top: 2.35vw;
  left: 10.6%;
  width: 5%;
  overflow: no-hidden;
  /*background-color: RGB(255, 255, 255);*/
}

.header_logo_right {
  position: absolute;
  top: 2.35vw;
  right: 10.1%;
  width: 5%;
  /*background-color: RGB(255, 255, 255);*/
}

ul {
  overflow: hidden;
  list-style: none; 
  margin: 0 auto;
}

i {
  display: block;
  margin-right: 20%;
  border: 1px solid RGB(255, 255, 255);
}

nav {
  width: 80%;
  margin: 0 auto;  
}

.main_menu{
  position: relative;
  top: 2%;
  width: auto;
  height: auto;
  display: flex;
  margin-bottom: 0.5%;
}

.main_menu a {
  display: block;
  padding: 0.7em;
  height: 2.5vw;  /* высота меню */
  align-items: stretch;
  align-content: center;
  border: 1px solid RGB(231, 184, 28);
  border-right-width: 2px;
  border-left-width: 2px;
  border-bottom-width: 3px;
  
  
  background-color: RGB(255, 254, 245); /*RGB(165, 0, 0);*/
  color: RGB(50, 50, 50); /*#ffffff;*/
  
    /* свойства шрифта */
  font-size: 1.6vw;
  display: block;
  text-decoration: none;
  font-family: 'Lora', serif;
  transition: .5s linear;
}

.main_menu li.active {  /*активный пункт меню*/
  display: block;
  padding: 0.7em;
  height: 2.5vw;  /* высота меню */
  align-items: stretch;
  align-content: center;
  
  border: 3px solid RGB(231, 184, 28);
  background-color: RGB(231, 184, 28);
  color: RGB(50, 50, 50); /*RGB(165, 0, 0);*/  /* цвет текста активного пункта*/
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: RGB(50, 50, 50);
  
  /* свойства шрифта*/
  font-size: 1.6vw;
  font-family: 'Lora', serif;
  transition: .5s linear;
}

.main_menu a:hover {
  background-color: RGB(231, 184, 28);
}

.main_window_text {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, Sans-Serif;
  font-size: 2.0em;
  color: black;
  margin: 10% 10% 2% 10%;  /* отступы (сверху, справа, снизу, слева) */
}

.main_window_text_abzac {  /* Добавляем красную строку абзаца */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, Sans-Serif;
  font-size: 2.0em;
  color: black;
  margin: 8% 15% 10% 15%;  /* отступы (сверху, справа, снизу, слева) */
  text-indent: 40px;
}

.main_picture {  /* Картинки */
  margin: -200% 30% 4% 33%;
  top: -50%;
  width: 30%;
}

.main_line_up_1 {
  margin-top: 20px;          
  height: 4vw;            /*80px;*/
  width: 100%;
  background-color: RGB(231, 184, 28);
}

.main_line_down_1 {
  bottom: 0px;
  height: 4vw;             /*80px;*/
  width: 100%;
  background-color: RGB(231, 184, 28);
}

.main_line_down_2 {
  bottom: 0px;
  height: 4vw;
  width: 100%;
  background-color: RGB(231, 184, 28);
}

.main_e {  /* на будущее */
  position: relative;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  height: 50%;
  width: 100%;
}

.index_picture {  /* Картинки */
  margin: -15% 0% 2% 35%;  /* отступы (сверху, справа, снизу, слева) */
  width:20%;
}

.border{
  width: 70%;
  height: auto;
  /*position: sticky;*/
}

.border_bottom{
  width: 50%;
  height: auto;
}

/*
.fon-left{
	position: absolute;
    background-image: url("../картинки_япония/Fon_left.png");
    background-repeat: repeat-y;
	top: 15%;
	margin-left: 2%;
    
	background-size: 51% auto;
    height: 62em;
    width: 10%;
	background-attachment: no-fixed;
}

.fon-right{
	position: absolute;
    background-image: url("../картинки_япония/Fon_right.png");
    background-repeat: repeat-y;
	top: 10%;
	margin-left: 91%;
    margin-bottom: 2%;
	background-size: 70% auto;
    height: 60em;
    width: 10%;
	background-attachment: no-fixed;
}
*/