*{
  padding: 0%;
  margin: 0%;
}

body {
  background-color: white;
}

h1 {   /* Заголовки */
  position: relative;
  text-align: center;
  margin-top: 20px;
  top: 50%;
  font-size: 3.13em;
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, Sans-Serif;
}

h2 {  /* Заголовки-2 */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, Sans-Serif;
  margin: 20px;
  font-size: 2.2em;
  color: black;
  margin: 2% 10% 1% 13%;  /* отступы (сверху, справа, снизу, слева) */
}

.history_text {  /* текст */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, Sans-Serif;
  font-size: 1.87em;
  color: black;
  margin: 2% 10% 1% 10%;  /* отступы (сверху, справа, снизу, слева) */
}

.history_text_abzac {  /* Добавляем красную строку абзаца */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, Sans-Serif;
  font-size: 1.87em;
  color: black;
  margin: 2% 10% 1% 10%;  /* отступы (сверху, справа, снизу, слева) */
  text-indent: 5%;
}

/* задаём стиль ссылок */
.history_text_silka a:link {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, Sans-Serif;
  font-size: 1.87em;
  color: rgb(236, 182, 32);
  margin: 0% 0% 0% 15%;  /* отступы (сверху, справа, снизу, слева) */
  text-decoration: none;
  -webkit-text-stroke: 1px rgb(190, 70, 0);
}

/* задаём стиль ссылок при наведении мышки */
.history_text_silka a:hover {
  text-decoration: underline;
  color: rgb(236, 182, 32);
  -webkit-text-stroke: 1px rgb(190, 70, 0);
}

/* задаём стиль ссылок после нажатия мышки */
.history_text_silka a:visited {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, Sans-Serif;
  font-size: 1.87em;
  color: rgb(236, 182, 32);
  margin: 0% 0% 0% 15%;  /* отступы (сверху, справа, снизу, слева) */
  text-decoration: none;
  -webkit-text-stroke: 1px rgb(190, 70, 0);
}


.history_picture {  /* Картинки */
  margin:0 25% 0 25%;
  width:50%;
}
  
.history_text_picture_1 { /* подпись к картинкам */
  font-size: 1.2em;
  font-family: 'Times New Roman', Times, Serif;
  color: black;
  margin: 10px;
  text-align: center;
}

.history_e {  /* на будущее */
  position: relative;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  height: 50px;
  width: 100%;
}